<!DOCTYPE html>

<html>
  <head>
    {{{styles}}}
    <script src="//use.typekit.net/abg2cpg.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>

  <body>
    <section class="masthead">
      <div class="target-image">
        <div class="target-outline">&nbsp;</div>
        <div class="target-photo">
          {{#if variants}}
            <img src="{{target_image}}">
          {{else}}
            <img src="./img/herbert.jpg">
          {{/if}}
        </div>
      </div>
      <div class="masthead-copy">
        <h1>
          {{#if variants}}
            Hey, {{target_title}} {{target_last}}...
          {{else}}
            Hey, Governor Herbert<span class="ellipsis">...</span>
          {{/if}}
        </h1>
        <h2>Your Medicaid expansion plan <strong>undermines</strong> Utah's values!</h2>
      </div>
    </section>

    <section class="signature">
      <div class="avatar">
        <div class="avatar-outline">&nbsp;</div>
        <div class="avatar-photo">
          <img src="{{avatar}}">
        </div>
      </div>
      <div class="signature-copy">
        <p class="message">I support faith, family, community, and self-reliance,<br><strong><em>not</em></strong> welfare expansion under ObamaCare.</p>
        <p class="name">
          <span class="first-last">{{first}} {{last}}</span>
          <span class="hometown">
            {{city}}
            {{#if state}}
              {{#if city}}
                ,
              {{/if}}
            {{/if}}
            {{#if city}}
              {{state}}
            {{else}}
              {{state_full}}
            {{/if}}
          </span>
        </p>
      </div>
    </section>

    <section class="footer">
      Footer
    </section>
  </body>
</html>